#user-msg-div {
    position: relative;
    display: flex;
    width: 100%;
    align-items: baseline;
    margin-bottom: 5px;
    gap: 7px;
    justify-content: space-between;
}

#user-msg-div h5 {
    flex: 0 0 auto;
}

#delete-so-btn-div {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.msg-div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}


#submit-form {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
}

.input-field {
    background-color: transparent;
    border: none;
    color: white;
    width: 79.5%;
}

#mb-br,
#mb-hr {
    display: none;
}


@media only screen and (max-width: 600px) {
    .date {
        display: none;
    }

    .msg-div,
    #user-msg-div {
        flex-direction: column;
        align-items: flex-start;
    }

    .msg-div h5,
    #user-msg-div h5 {
        line-height: 20px;
    }

    #mb-br,
    #mb-hr {
        display: block;
    }

    #dots {
        display: none;
    }

    #mb-hr {
        width: 100%;
    }

    .button {
        width: 100%;
    }
}