@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

::-webkit-scrollbar {
  display: none;
}

body,
html {
  background-color: black;
  font-family: "DM Mono", monospace;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

* {
  font-family: "DM Mono", monospace;
}

#bg-main {
  position: fixed;
  display: flex;
  height: 100vh;
  width: 100vw;
}

#left-part {
  display: none;
  position: fixed;
  padding: 20px;
  display: flex;
  width: 30vw;
  height: 100vh;
  left: 0;
  background-color: black;
  transition: all 1s ease;
}

#right-part {
  z-index: 1;
  position: fixed;
  width: 65vw;
  height: 100vh;
  right: 0;
  overflow: hidden;
  transition: all 1s ease;
  transform: translateY(0) translateX(0);
}

#left-part.about {
  width: 70vw;

}

#right-part.about {
  width: 30vw;
  transform: translateY(0) translateX(0);

}

#left-part.works {
  width: 100vw;
}

#right-part.works {
  height: 30vh;
  width: 60vw;
  transform: translateY(80vh) translateX(-10vw);
}

#right-part.guestbook {
  transform: translateX(-30vw) translateY(10vh);
  height: 60vh;
}

.page-num {
  color: white;
  font-size: 5em;
  mix-blend-mode: difference;
}

#main-body {
  position: fixed;
  display: flex;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
  flex-direction: column;

}

#home-text {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  margin: 100px;
  justify-content: space-between;
}

#home-text p {
  z-index: 1;
}

.page-num {
  position: absolute;
  margin: 0;
  font-size: 7em;
  bottom: 100px;
  top: unset;
  transition: transform 1s ease;
}

.page-num.about {
  transform: translateY(0) translateX(25vw);
}

.page-num.guestbook {
  transform: translateY(-30vh) translateX(-0vw);
}


.reveal-text {
  position: fixed;
  top: 50%;
  transform: translateY(-100%);
  font-size: 5vw;
  font-weight: bold;
  color: white;
  mix-blend-mode: difference;
  transition: all 1s ease;
  line-height: 1.5em;
}

.reveal-text.about {
  font-size: 0.9em;
  font-weight: normal;
}

.reveal-text.works {
  transform: translateY(-50vh);
}

.reveal-text.guestbook {
  opacity: 0;
}

#top-text {
  transform-origin: left;
  transition: all 1s ease;
  display: inline-block;
  mix-blend-mode: difference;
}

#top-text.about {
  font-size: 5em;
  font-weight: bold;
  transform-origin: left;
  transform: translateX(64vw) translateY(-170%) rotate(90deg);
  z-index: 1;
}

#top-text.works {
  font-size: 7em;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 2px white;
  transform: translateY(50vh) translateX(30vh);
}

#top-text.guestbook {
  font-size: 5em;
  font-weight: bold;
  transform: translateX(35vw) translateY(-23vh);
}


.menu {
  position: absolute;
  top: 0;
  right: 20px;
  text-align: right;
  z-index: 1;
}


.menu li {
  list-style-type: none;
  color: black;
  margin-bottom: 5px;
  cursor: pointer;
  mix-blend-mode: difference;
  transition: color 1s ease;
  text-align: right;
}

.menu li svg {
  vertical-align: middle;
}



.menu li.works {
  color: white;
}

.menu li.guestbook {
  color: white;
}

.selected {
  list-style-type: disc;
}

.music-player {
  transition: transform 1s ease;
}

.music-player.about {
  transform: translateX(-40vw);

}

.music-player.works {
  transform: translateY(-40vh);
}

.music-player.guestbook {
  transform: translateY(5vh) translateX(-80vw);
}

.music-player {
  position: fixed;
  right: 50px;
  bottom: 10%;
}

#circle {
  overflow: hidden;
  border-radius: 50%;
  height: 10em;
  width: 10em;
}


.curved-text {
  position: absolute;
  top: 60%;
  left: 60%;
  scale: 1.2;
  width: 10em;
  height: 10em;
  pointer-events: none;
  animation: rotation 5s reverse linear infinite;
}

.music-player text {
  fill: black;
  transition: fill 1s ease;
}

.music-player.about text {
  fill: white;
}

.music-player.works text {
  fill: white;
}

.music-player.guestbook text {
  fill: white;
}

#disc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  mix-blend-mode: difference;
  animation: rotation 5s linear infinite;
}

#pin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(10%) translateY(-80%) rotate(20deg);
  mix-blend-mode: difference;
}

.lang {
  right: 0;
  display: grid;
  z-index: 1;
  font-size: 1em;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 10px;
  width: 20%;
  opacity: 0;
  transition: opacity 1s ease, transform 1s ease;
  transform: translateX(-100%);
}

.lang.about {
  opacity: 1;
  transform: translateX(0%);
}

.projects-blogs-btns-con {
  z-index: 999;
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 20vw;
  position: absolute;
  top: 30%;
  right: 20%;
  transition: opacity 1s ease, transform 1s ease;
  opacity: 0;
  transform: translateX(-100%);
  border: 2px solid white;
}

.projects-blogs-con {
  display: flex;
  overflow: scroll;
}

.projects-blogs-btns-con.works {
  opacity: 1;
  transform: translateX(0%);
}

.project-blog-name {
  font-weight: bolder;
}

.features {
  color: grey;
  font-weight: lighter;
}

#btns-con {
  z-index: 99;
  display: flex;

}

#projects-btn,
#blogs-btn {
  padding: 10px;
  border: 1px solid white;
  border-bottom: 2px solid white;
  width: 100%;
  height: fit-content;
  text-align: center;
  cursor: pointer;
}

#projects-btn:hover,
#blogs-btn:hover {
  background-color: grey;
}

#projects-btn.selected,
#blogs-btn.selected {
  background-color: white;
  color: black;
}

.project-display,
.blog-display {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  line-height: 18.5px;
  font-size: 1em;
  white-space: pre;
  gap: 1px;
  padding: 20px;
}

.skills-grid {
  z-index: 99;
  display: grid;
  grid-template-columns: repeat(4, minmax(10px, 1fr));
  gap: 20px;
  padding: 20px;
  text-align: center;
  width: 20vw;
  scale: .7;
  position: absolute;
  bottom: 65%;
  left: 2%;
  mix-blend-mode: difference;
  opacity: 0;
  transition: opacity 1s ease, transform 1s ease;
  transform: translateX(-100%);
}

.skills-grid.about {
  opacity: 1;
  transform: translateX(0%);
}

.skill-icon {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
  color: white;
  font-size: 14px;
  transition: transform 0.2s ease;
}

.skill-icon:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.guestbook-table {
  opacity: 0;
  position: fixed;
  border-top: 2px solid white;

  width: 70vw;
  height: 70vh;
  padding: 20px;
  top: 20%;
  left: 20%;
  mix-blend-mode: difference;
  display: flex;
  flex-direction: column;
  transition: opacity 1s ease, transform 1s ease;
  transform: translateX(100vh);
}

.guestbook-table.guestbook {
  opacity: 1;
  transform: translate(0vh);
}

.msg-div {
  display: flex;
  justify-content: space-between;
}

.msg-div h5 {
  margin: 5px;
}

#user-msg-div .name-msg {
  width: 20%;
}

.name-msg {
  display: flex;
  align-items: center;
  width: 100%;
}

.input-field {
  display: flex;
  width: 100%;
  outline: none;
  border: 1px solid white;
  height: 25px;
  background: transparent;
}

#submit-form {
  display: flex;
  align-items: center;
}

#delete-btn {
  cursor: pointer;
}

#delete-btn:hover {
  opacity: .5;
}

#user-msg-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: space-between;
}

#user-msg-div h5 {
  margin: 5px;
}

#submit-form {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#btns-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: end;
  gap: 20px;
}

button {
  display: flex;
  gap: 5px;
  height: fit-content;
  padding: 5px;
  border-radius: o;
  border: 1px solid white;
  background-color: white;
  color: black;
  outline: none;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  border: 1px solid white;
  background-color: transparent;
  color: white;
}

#delete-so-btn-div {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 20px;
}

.date {
  display: flex;
  width: 200px;
}

.spinner {
  animation: spinner 5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }

  100% {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg
  }
}

@media only screen and (max-width: 600px) {

  #left-part {
    width: 100vw;
    height: 200%;
    transform: translateX(-62%);
    top: 0;
    z-index: 2;
    rotate: 45deg;
  }

  #right-part {
    width: 100vw;
    height: 100vh;
    right: 0;
    overflow: hidden;
    transition: all 1s ease;
    transform: translateY(0) translateX(0);
  }

  #top-text {
    font-size: .7em;
    position: fixed;
    top: 5vh;
    left: 50vw;
    transform-origin: center;
    transform: translateX(-50%);
  }

  .reveal-text {
    top: 12vh;
    left: 50vw;
    width: 90vw;
    transform: translateX(-50%) translateY(0%);
    font-size: 12vw;
  }

  .page-num {
    position: absolute;
    margin: 0;
    font-size: 3em;
    bottom: 100px;
    top: unset;
    transform: translateX(45vw) translateY(10vh);
    transition: transform 1s ease;
  }

  .music-player {
    right: unset;
    bottom: 2vh;
    scale: .5;
  }

  .music-player.home text {
    fill: white;
  }

  .menu {
    position: fixed;
    top: unset;
    bottom: 30vh;
    right: 20px;
    text-align: right;
    z-index: 1;
  }

  .menu li {
    display: flex;
    height: 2vh;
    align-items: center;
    justify-content: flex-end;
    font-size: 2em;
    padding: 10px 0;
  }

  .menu li svg {
    font-size: 1.4em;
  }

  .menu-bullet {
    margin: 0;
    font-size: 1.2em;
    color: white !important;
    display: inline-block;
    vertical-align: middle;
  }

  .menu li span.menu-label {
    display: none;
  }



  #left-part.about {
    width: 100vw;
    height: 60vh;
    transform: translateY(30vh);
    top: 0;
    rotate: unset;

  }

  #right-part.about {
    width: 100vw;
    height: 100vh;
    right: 0;
    overflow: hidden;
    transition: all 1s ease;
    transform: translateY(0) translateX(0);
  }

  .reveal-text.about {
    top: 30vh;
    left: 50vw;
    width: 70vw;
    transform: translateX(-56%) translateY(13%);
    font-size: 3vw;
  }

  .lang {
    transform: translateX(-100%) translateY(-10vh);
    transition: all 1s ease;
    right: unset;
    width: fit-content;
  }

  .lang.about {
    display: grid;
    z-index: 1;
    font-size: .8em;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    transform: translateX(35vw) translateY(-9vh);
    color: black;
  }

  .skills-grid {
    z-index: 99;
    display: grid;
    grid-template-columns: repeat(4, minmax(10px, 1fr));
    gap: 20px;
    padding: 20px;
    text-align: center;
    width: fit-content;
    scale: .7;
    position: absolute;
    bottom: 65%;
    left: 2%;
    mix-blend-mode: difference;
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
    transform: translateX(-100%);
  }

  .skills-grid.about {
    transform: translateX(-10vw);
  }

  .page-num.about {
    position: absolute;
    margin: 0;
    font-size: 3em;
    bottom: 100px;
    top: unset;
    transform: translateX(40vw) translateY(-55vh);
    transition: transform 1s ease;
  }

  #top-text.about {
    font-size: 2em;
    font-weight: bold;
    transform-origin: left;
    transform: translateX(5vw) translateY(17.5vh) rotate(0deg);
    z-index: 1;
  }

  .music-player.about {
    right: unset;
    bottom: 2vh;
    scale: .5;
    transform: translateX(100vw);
  }


  #left-part.works {
    width: 100vw;
    height: 100vh;
    transform: translateY(0vh) translateX(-50vw);
    top: 0;
    rotate: unset;
  }

  #right-part.works {
    width: 100vw;
    height: 50vh;
    right: 0;
    overflow: hidden;
    transition: all 1s ease;
    transform: translateY(20vh) translateX(0);
  }

  .page-num.works {
    transform: translateX(-23vw) translateY(-65vh);
  }

  #top-text.works {
    font-size: 3em;

    transform: translateX(0vw) translateY(50vh) rotate(0deg);
  }

  .projects-blogs-btns-con {
    width: 110vw;
    height: 60vh;
    top: 10%;
    right: 0%;
    scale: .7;
  }

  .music-player.works {
    right: unset;
    bottom: 2vh;
    scale: .5;
    transform: translateX(0vw);
  }

  #right-part.guestbook {
    width: 100vw;
    height: 100vh;
    right: 0;
    overflow: hidden;
    transition: all 1s ease;
    transform: translateY(0vh) translateX(0);
  }

  #left-part.guestbook {
    width: 200vw;
    height: 200%;
    transform: translateX(-20%);
    top: 0;
    z-index: 2;
    rotate: 45deg;
  }

  #top-text.guestbook {
    font-size: 2em;
    transform: translateY(10vh) translateX(-10vw);
  }

  .guestbook-table {
    width: 100vw;
    scale: .8;
  }

  .guestbook-table.guestbook {
    transform: translateX(-30vw);
    padding-left: 0;
    padding-right: 0;
  }

  #user-msg-div {
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
  }

  #login-btn,
  #logout-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .msg-div {
    justify-content: unset;
  }

  .name-msg {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .date {
    display: none;
    width: fit-content;
  }

  #delete-so-btn-div {
    width: 100%;
  }

  #user-msg-div .name-msg {
    width: 100%;
  }

  .page-num.guestbook {
    transform: translateX(-15vw) translateY(10vh);
  }

  .music-player.guestbook {
    right: unset;
    bottom: 0vh;
    scale: .5;
    transform: translateX(0vw) translateY(-140vh);
  }

  .music-player.guestbook text {
    fill: black;
    transition: fill 1s ease;
  }

}